{% macro bibliography(bibfile, bibstyle="apa7", perpage=5) %}
<section id="bibliography" data-bibfile="{{ bibfile }}" data-bibstyle="{{ bibstyle }}" data-perpage="{{ perpage }}">
</section>
{% endmacro %}

{% macro citep(ref) %}
<a data-citep="true" data-cite="{{ ref }}"></a>
{% endmacro %}

{% macro citet(ref) %}
<a data-citet="true" data-cite="{{ ref }}"></a>
{% endmacro %}

{% macro citealt(ref) %}
<a data-citealt="true" data-cite="{{ ref }}"></a>
{% endmacro %}

{% macro citefull(ref) %}
<span data-citefull="true" data-cite="{{ ref }}"></span>
{% endmacro %}