.theorem-header {
  background-color: var(--color1);
  color: white;
  padding: 10px;
}

.theorem-content {
  background-color: white;
  padding: 10px;
}

.theorem-name {
  font-style: italic;
}

.theorem-container {
  border: 3px solid var(--color1);
  border-radius: 10px;
  margin: 0 30px;
}