{% extends "revealjs.njk" %}
{% set config = {"controls": true,
                 "progress": true,
                 "hash": true,
                 "navigationMode": "linear",
                 "center": true,
                 "width": 1280,
                 "height": 720}
%}
{% set theme = "white" %}
{% set css = [] %}
{% set plugins = ["notes","search","zoom","math"] %}
{% set title = "Presentation title" %}
{% set authors = ["Authors' names"] %}

{% block document %}
{# insert slides here #}
{% endblock %}