{% extends "revealjs.njk" %}
{% set config = {"controls": true,
                 "progress": true,
                 "hash": true,
                 "navigationMode": "linear",
                 "center": true,
                 "width": 1280,
                 "height": 720}
%}
{% set plugins = ["notes","search","zoom","math"] %}
{% set theme = "white" %}
{% set css = [] %}
{% set title = "Presentation title" %}
{% set shorttitle = "short title"%}
{% set authors = {"short name": "long name", "short name2": "long name2"} %}

{% from "theorem.njk" import theorem %}
{% from "column.njk" import columns, column %}
{% from "title.njk" import maketitle with context %}
{% from "bibliography.njk" import bibliography, citep, citet, citealt, citefull %}

{% block document %}
{# insert slides here #}
{% endblock %}