<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta charset="utf-8">
  <meta name="generator" content="jinjaslides">
  {% if authors %}
  <meta name="author" content="{{ authors }}">
  {% endif %}
  {% if date %}
  <meta name="dcterms.date" content="{{ date }}">
  {% endif %}
  {% if keywords %}
  <meta name="keywords" content="{% for k in keywords %}{{ k }},{% endfor %}">
  {% endif %}
  <title>{% if(title) %} {{ title }} {% endif %}</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="{{ revealjs_url }}/dist/reset.css">
  <link rel="stylesheet" href="{{ revealjs_url }}/dist/reveal.css">
  {% if theme %}
  <link rel="stylesheet" href="{{ revealjs_url }}/dist/theme/{{theme}}.css" id="theme">
  {% endif %}
  {% for c in css %}
  <link rel="stylesheet" href="{{c}}"/>
  {% endfor %}
</head>
<body>
  <div class="reveal">
    <div class="slides">
      {% block document %}
      {% endblock %}
    </div>
  </div>

  <script src="{{ revealjs_url }}/dist/reveal.js"></script>

  <!-- reveal.js plugins -->
  {% for p in plugins %}
  <script src="{{ revealjs_url }}/plugin/{{p}}/{{p}}.js"></script>
  {% endfor %}
  {% for s in scripts %}
  <script src="{{s}}"></script>
  {% endfor %}

  <script>

      // Full list of configuration options available at:
      // https://revealjs.com/config/
      let config = {{config | dump}}
      // reveal.js plugins
      config["plugins"] =  [
        {% for p in plugins %}
        Reveal{{ p | capitalize }},
        {% endfor %}
      ]

      Reveal.initialize(
        config
      )
    </script>
  </body>
</html>



