<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta charset="utf-8">
  <meta name="generator" content="jeamer">
  {% if authors %}
  <meta name="author" content="{% for author, _ in authors %}{{ author }} {% endfor %}">
  {% endif %}
  {% if date %}
  <meta name="dcterms.date" content="{{ date }}">
  {% endif %}
  {% if keywords %}
  <meta name="keywords" content="{% for k in keywords %}{{ k }},{% endfor %}">
  {% endif %}
  <title>{% if shorttitle %} {{ shorttitle }}{% elif title %} {{ title }} {% endif %}</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="{{ revealjs_url }}/dist/reset.css">
  <link rel="stylesheet" href="{{ revealjs_url }}/dist/reveal.css">
  {% if theme %}
  <link rel="stylesheet" href="{{ revealjs_url }}/dist/theme/{{theme}}.css" id="theme">
  {% endif %}
  {% for c in css %}
  <link rel="stylesheet" href="{{c}}"/>
  {% endfor %}
</head>
<body>
  <div class="reveal">
    <div class="slides">
      {% block document %}
      {% endblock %}
    </div>
  </div>

  <script src="{{ revealjs_url }}/dist/reveal.js"></script>

  <!-- reveal.js plugins -->
  {% for plugin in plugins %}
    {% set p = plugin if plugin | is_string else plugin["name"] %}
  <script src="{{ revealjs_url }}/plugin/{{ p }}/{{ p }}.js"></script>
  {% endfor %}
  {% for s in scripts %}
  <script src="{{s}}"></script>
  {% endfor %}

  <script>
      // Full list of configuration options available at:
      // https://revealjs.com/config/
      let config = {{ config | dump }};
      // reveal.js plugins
      config["plugins"] = config["plugins"] || [];
      config["plugins"] = config["plugins"].concat([
        {% for p in plugins %}
          {% if p | is_string %}
        Reveal{{ p | capitalize }},
          {% else %}
        Reveal{{ p["name"] | capitalize }}.{{ p["extension"] }}
          {% endif %}
        {% endfor %}
      ]);

      Reveal.initialize(
        config
      );
    </script>
  </body>
</html>



